.poster{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: aqua;
    margin: 15px;
    
}

.card-title{
    display: flex; 
    margin-top: 90%;

}
.card-author{
    display: flex; 
}